.locationMainBody {
    display: grid;
    background-color:rgb(21,21,21);
    row-gap: 10px;
    column-gap: 10px;
    grid-template-rows: 487px 413px;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.locationMainBody div {
    background-color: yellow;
    height: 400px;
    width: 100%;
}

.locationMainBody .map {
    align-self: center;
    grid-column-start: 1;
    grid-column-end: 4;
    background-image: url('../images/map.png');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 487px;
    /* height: auto; */
}

.locationMainBody .map > a > button {
    align-self: center;
    width: 234px;
    height: 51px;
    font-family: 'Barlow', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: white;
    border: 0px;
    background:linear-gradient(to left, rgb(21,21,21) 80%, rgb(213,150,107) 25%);
    position: relative;
    top: 0px;
    left: 147px;
    -webkit-transform: scale(1, 1.2);
    padding: 0px 24px 0px 0px;
    transition: ease-in 0.3s;
    box-shadow: inset 0 0 0 0 rgb(213,150,107);
}

.locationMainBody .map > a > button:hover {
    box-shadow: inset 250px 0 0 0 rgb(213,150,107);  
    size: 50px;
    border-radius: 50px;
}

.geoTag .pin {
    top: 233px;
    position: absolute;
    font-size: 55px;
    color: rgb(211 91 10);
    z-index: 50;
    left: 660px;
}

.locationMainBody .ourLocation {
    margin-right: 10px;
    height: 413px;
    background-color: rgb(21,21,21);
    font-family: 'Barlow Condensed', sans-serif;
    color: white;
    /* font-size: 3em; */
    padding: 83px 10px 5px 154px;
    /* align-self: center; */
    margin: 0px -80px 0px 0px;
}

.locationMainBody .ourLocation h1 {
    font-size: 70px;
    font-weight: 650;
    -webkit-transform: scale(1, 1.1);
    padding: 0px 365px 0px 0px;
}

.locationMainBody .ourLocation h1.loc {
    margin-top: -26px;
}

.locationMainBody .address {
    /* margin: 0px 0px 0px 0px; */
    grid-column-start: 2;
    grid-column-end: 4;
    height: 413px;
    background-color: rgb(21,21,21);
    padding-right: 137px;
    font-weight: 500;
}

.locationMainBody .address h3 {
    color: rgb(204,148,112);
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 600;
    font-size: 38px;
    padding-top: 83px;
}

.locationMainBody .address p {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;    
}

li {
    color: white;
    list-style-type: none;
    margin: 0px 0px 0px -32px;
    font-size: 16px;
}

.lastSection {
    color: rgb(21,21,21);
    /* margin-top: 85px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 230px;
    background-color: rgb(213,150,107);
    padding: 0px 5px 0px 82px;
    margin-right: 20px;
}

.lastSection .endCredits {
    font-family: 'Barlow Condensed', sans-serif;
    -webkit-transform: scale(1, 1.15);
    /* font-stretch:expanded; */
}

.lastSection .endCredits h1 {
    margin: 13px;
    font-size: 30px;
    font-weight: 650;
}

.lastSection .endCredits h1.art_gallery {
    margin-top: -10px;
}

.lastSection .openSevenDays {
    width: 32%;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    margin-right: 140px;
    padding: 85px 0px 0px 0px;
    font-weight: 500;
}

.lastSection .socialIcons {
    padding: 0px 61px 0px 0px;
}

.lastSection .socialIcons a {
    font-size: 20px;
}

.lastSection .socialIcons a.faceLogo {
    margin: 10px;
    color: rgb(21,21,21);
}

.lastSection .socialIcons a.instaLogo {
    margin: 10px;
    color: rgb(21,21,21);
}

.lastSection .socialIcons a.twitterLogo {
    margin: 10px;
    color: rgb(21,21,21);
}

.lastSection .socialIcons a.faceLogo:hover {
    
    color: rgb(75, 75, 75);
}

.lastSection .socialIcons a.instaLogo:hover {
    color: rgb(75, 75, 75);
}

.lastSection .socialIcons a.twitterLogo:hover {
    color: rgb(75, 75, 75);
}